.App {
  /* text-align: center; */
  font-family: HelveticaNeue-Light;
  /* background-color: #282c34; */
  margin: 0% 5% 0% 5%;
  /* text-align: center; */
}


.red-font {
  color: red;
  font-family: HelveticaNeue-Light;
}

.navbar {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 5vmin);
  color: white;
  font-family: HelveticaNeue-Light;
}

.navbar a {
  text-decoration: none;
}

.navbar-item {
  margin: 0 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.searchbar {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}




